@font-face {
    font-family: 'Ok Avenir Light';
    src: url('../fonts/avenir/light/avenirltstd-light-webfont.eot');
    src: url('../fonts/avenir/light/avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/light/avenirltstd-light-webfont.woff2') format('woff2'),
         url('../fonts/avenir/light/avenirltstd-light-webfont.woff') format('woff'),
         url('../fonts/avenir/light/avenirltstd-light-webfont.ttf') format('truetype'),
         url('../fonts/avenir/light/avenirltstd-light-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Ok Avenir Book';
    src: url('../fonts/avenir/book/avenirltstd-book-webfont.eot');
    src: url('../fonts/avenir/book/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/book/avenirltstd-book-webfont.woff2') format('woff2'),
         url('../fonts/avenir/book/avenirltstd-book-webfont.woff') format('woff'),
         url('../fonts/avenir/book/avenirltstd-book-webfont.ttf') format('truetype'),
         url('../fonts/avenir/book/avenirltstd-book-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Ok Avenir Medium';
    src: url('../fonts/avenir/medium/avenirltstd-medium-webfont.eot');
    src: url('../fonts/avenir/medium/avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/medium/avenirltstd-medium-webfont.woff2') format('woff2'),
         url('../fonts/avenir/medium/avenirltstd-medium-webfont.woff') format('woff'),
         url('../fonts/avenir/medium/avenirltstd-medium-webfont.ttf') format('truetype'),
         url('../fonts/avenir/medium/avenirltstd-medium-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




//////////////////
/// FONT ICONS ///
//////////////////

@font-face {
	font-family: 'OK Icons';
	src:url('../fonts/ok-icons/fonts/ok-icon.eot?lvj318');
	src:url('../fonts/ok-icons/fonts/ok-icon.eot?lvj318#iefix') format('embedded-opentype'),
		url('../fonts/ok-icons/fonts/ok-icon.ttf?lvj318') format('truetype'),
		url('../fonts/ok-icons/fonts/ok-icon.woff?lvj318') format('woff'),
		url('../fonts/ok-icons/fonts/ok-icon.svg?lvj318#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}